{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>{{ profile_user }}のページ</h2>
{% if profile_user != request.user %}
{% if profile_user not in user_following %}
  <form method="post" action="{% url 'accounts:follow' username=profile_user.username %}">
    {% csrf_token %}
    <button type="submit">フォロー</button>
  </form>
  {% else %}
  <form method="post" action="{% url 'accounts:unfollow' username=profile_user.username %}">
    {% csrf_token %}
    <button type="submit">フォローを解除</button>
  </form>
  {% endif %}
{% endif %}
<a href="{% url 'accounts:following_list' username=profile_user %}"><p>フォロー数：{{following_number}}</p></a>
<a href="{% url 'accounts:follower_list' username=profile_user %}"><p>フォロワー数：{{follower_number}}</p></a>
    <h3>過去のツイート</h3>
    {% for tweet in tweets %}
    <div class="tweet">
        <p>{{ tweet.content }}</p>
        <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
        <p id="like-count-{{ tweet.id }}">{{ tweet.like_count }} 件のいいね</p>
        {% if tweet.liked_by_user %}
        <button type="button" class="like-button" id="like-button-{{ tweet.id }}" data-tweet-id="{{ tweet.id }}" data-liked="true">
            <i class="fas fa-heart"></i> いいね取り消し
        </button>
        {% else %}
        <button type="button" class="like-button" id="like-button-{{ tweet.id }}" data-tweet-id="{{ tweet.id }}" data-liked="false">
            <i class="far fa-heart"></i> いいね
        </button>
        {% endif %}
    </div>
    {% endfor %}
    {% include "tweets/script.html" %}
{% endblock %}
